dash
dash-ag-grid
dash-bootstrap-components
dash-mantine-components
dash[testing]
openpyxl
pandas
pandas-datareader
psutil
pytest
ruff

--extra-index-url=https://de5-staging.plotly.host/packages
dash-design-kit
